*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header h1{
    margin: 10px;
    text-align: center;
}
main{
    margin: 10px;
}
#about-me{
    width: 50%;
    height: 50%;
    display: inline-block;
    float: left;
    padding: 10px;
    border: 10px solid black;
}
#about-me h3{
    text-align: center;
}
#skills{
    width: 50%;
    height: 30%;
    display: inline-block;
    float: left;
    padding: 10px;
    border: 10px solid black;
}
#skills h3{
    text-align: center;
}
#skills dt{
    font-weight: bold;
    color: blue
}