*{
    box-sizing: border-box;
}
header h1{
    margin: 10px;
    text-align: center;
}
#about-me{
    width: 50%;
    height: 300px;
    float: left;
    padding: 10px;
    border: 10px solid black;
    border-right: 5px solid black;
}
#about-me h3{
    text-align: center;
}
#skills{
    width: 50%;
    height: 300px;
    float: left;
    padding: 10px;
    border: 10px solid black;
    border-left: 5px solid black;
}
#skills h3{
    text-align: center;
}
#skills dt{
    font-weight: bold;
    color: blue
}
#contact{
    width: 100%;
    height: 50px;
    padding: 10px;
}
#contact p{
    margin: 0;
}
#contact a{
    text-decoration: none;
    color: black;
}